<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">C-app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin/{username}(username=${#httpServletRequest.userPrincipal.name})}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/testCenters}">Test Centers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">Users</a>
            </li>
        </ul>
        <div class="navbar-nav">
            <span class="icon-bar">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/{username}(username=${#httpServletRequest.userPrincipal.name})}">My Profile</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>
                </li>
            </span>
        </div>
    </div>
</nav>

<br>
<br>

<h3>Test Center Registration</h3>
<div class="container">
    <form th:action="@{/admin/add/testCenter/{idA}(idA=${idA})}" method="post" th:object="${testCenterDTO}">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label" for="testCenterName"> Test Center Name </label>
                    <input id="testCenterName" class="form-control" th:field="${testCenterDTO.name}"
                           th:maxlength="45" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="testCenterOpened"> Hours Opened </label>
                    <input id="testCenterOpened" class="form-control" th:field="${testCenterDTO.operatingMinutes}"
                           th:type="number" th:min="1" th:max="24" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="slotSize"> Slot Size minutes </label>
                    <input id="slotSize" class="form-control" th:field="${testCenterDTO.slotSizeMinutes}"
                           th:type="number" th:min="5" th:max="15" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="personsPerSlot"> Persons per Slot Capacity </label>
                    <input id="personsPerSlot" class="form-control" th:field="${testCenterDTO.personsPerSlot}"
                           th:type="number" th:min="5" th:max="50" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="openingTime"> Opening Hours </label>
                    <input name="openingTime" id="openingTime" class="form-control" th:field="${testCenterDTO.openingTime}"
                           type="time" required autofocus="autofocus"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Register Center</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>