<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">C-app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <span class="icon-bar">
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                    <a class="nav-link" th:href="@{/user/{username}(username=${#httpServletRequest.userPrincipal.name})}">Home</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/user/appointments/{personId}/(personId=${personId})}">My Appointments</a>
                </li>
            </span>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"> Information </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Book your vaccine</a></li>
                    <li><a class="dropdown-item" href="#">Questions&Answers</a></li>
                    <li><a class="dropdown-item" href="#">Latest News<</a></li>
                </ul>
            </li>

        </ul>
        <div class="navbar-nav">
            <span class="icon-bar">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="btn btn-outline-success" th:href="@{/registration/user}">Register</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/{username}(username=${username})}">My Profile</a>
                </li>
            </span>
            <span class="icon-bar">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>
                </li>
            </span>
        </div>
    </div>
</nav>

<br>

<div>
    <h4>Logged in as:</h4>
    <p style="background-color: deepskyblue; font-weight: bold; text-align: center" th:text="${username}">
    </p>
    <p style="background-color: gold; font-weight: bold; text-align: center" th:text="${userDTO.email}">
    </p>
    <p style="background-color: indianred; font-weight: bold; text-align: center" th:text="C-app">
    </p>
    <a style="text-align: center; display: flex; justify-content: center; margin: auto;
            width: 300px;  height: 40px;"
       th:href="@{/{personId}/appointments/check(personId=${personId})}"
       class="btn btn-success" aria-pressed="true" role="button">Make an appointment</a>
</div>



</body>
</html>